:root {
     /* color */
     --color-text: #ffffffe8;
     --color-primary: #576cbc;
     --secondary-color: #19376d;
     --color-dark: #0b2447;
     --color-bg: #04152d;
     --color-ft: #cac3c3;
}